.footer-links a{
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}
.footer-links a:hover {
    color:  var(--main-color);;
}
.newsletter-form input:focus {
    box-shadow: none;
    color: var(--main-color);
}
.social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    text-decoration: none;
    color: #000 !important;
}
.social-icons a:hover {
    background-color: var(--main-color);
    color: #fff !important;
    border-color: var(--main-color);
}
.grayscale img {
    filter: grayscale(100%);
    opacity: 0.6;
    transition: 0.3s;
}
.grayscale img:hover {
    filter: grayscale(0%);
    opacity: 1;
}
@media (max-width: 991px) {
    .footer-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
}